DB_SYNC_SOURCE_HOST=localhost
DB_SYNC_SOURCE_PORT=3306
DB_SYNC_SOURCE_USER=dev
DB_SYNC_SOURCE_PASSWORD=dev
DB_SYNC_SOURCE_DB=db
DB_SYNC_SOURCE_ENGINE=mariadb

DB_SYNC_TARGET_HOST=localhost
DB_SYNC_TARGET_PORT=3307
DB_SYNC_TARGET_USER=dev
DB_SYNC_TARGET_PASSWORD=dev
DB_SYNC_TARGET_DB=db
DB_SYNC_TARGET_ENGINE=mariadb

DB_SYNC_TABLES=customer,customer_address,order,order_line_item
DB_SYNC_EXCLUDE_TABLES=app,integration,plugin
DB_SYNC_MIRROR_DELETE=false